body {background-color: #4E4B4B;}
p { color: #FAFBF6; font-size: 15px;}
h1 { color: orange; font-size: 50px;}
h2 { color: #FAFBF6; font-size: 36px}
h3 { color: #FAFBF6; font-size: 26px;}
h4 { font-size: 36px; color: #FAFBF6;}
h5 { color: #FEA612; font-size: 35px; font-weight:500;}
button { font-size: 35px; color: white; background-color: #C18417;}
