header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#header_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#primeiro_nome {
    color: #C18417;
    font-size: 55px;
    font-family: 'Michroma-Regular';
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,-1px 1px 0 black,
    1px 1px 0 black;
}
#segundo_nome {
    font-size: 32px;
    font-family: 'Jost-Medium';
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,-1px 1px 0 black,
    1px 1px 0 black;
}
#search_box{
    width: 20vw;
    height: 1.4vw;
    border-radius: 5px;
    border: #FAFBF6;
}
.texto_logo{
    margin: 0;
}
h1 { 
    color: #FAFBF6; 
    font-size: 90px;
}
h2 { 
    color: #FAFBF6; 
    font-size: 36px
}
button { 
    font-size: 35px;
    color: white; 
    background-color: #C18417;
}

.menu{
    font-family: 'Michroma-Regular';
    border-radius: 10px;
    border: none;
}
#logo{
    display: flex;
    flex-direction: row;
}
